<section class = "Sala3">
<form Action='@Url.Action("Codigo", "Home")' method="get">
<h1> Los números están escondidos por toda la sala. No te confíes de lo que ves a simple vista; cada rincón guarda una pista. Encuentra la secuencia correcta y escríbela en el cuadro para avanzar. ¡Apura, el tiempo corre!</h1>
Arriesgar Código: <input type="number" name="num" maxlength="3">
<button type="submit"class="boton">Enviar Código</button>

</form>
</section>