@{
    ViewData["Title"] = "Index";
}
<header> 

</header>
<section class = "Index">
<h2>- Bienvenidos a la sala de escape -</h2>
<a href='@Url.Action("Jugar", "Home")' class="boton"> Tocá acá para jugar</a>
<a href='@Url.Action("Tutorial", "Home")' class="boton1"> Tocá acá para ir a un tutorial</a>
</section>