<section class = "Sala3">
<h3>En algún rincón de esta sala olvidada por el tiempo, se ocultan tres números. No están en orden. Buscalos con atención… el código secreto depende de vos. Solo vos decidirás el orden correcto… si querés salir de aquí con vida. Estarás atrapado en este pasillo hasta que logres ingresar en orden correcto el código secreto</h3>
<form Action='@Url.Action("Codigo", "Home")' method="get">
 <input type="number" name="num" maxlength="3">
<button type="submit"class="boton">Enviar Código</button>
</form>
</section>