@{
    ViewData["Title"] = "Sala2";
}
<section class = "Sala2">
<h3>Encontrá el interruptor de la luz, está escondido en algún lugar de la habitación, no está a la vista</h3>
<a href='@Url.Action("Sala3", "Home")' class="botonLuz"></a>
</section>