<section class = "Sala4">
<h3>Dentro del ascensor, una vieja sopa de letras te observa desde el espejo. Hay una única palabra oculta entre este desorden. Solo si la encontrás e ingresás correctamente la palabra, la salida se abrirá. Hasta entonces, no importa lo que hagas… seguirás atrapado... ¡Atención! La palabra debe ser ingresada en minuscula</h3>
<form Action='@Url.Action("Sala4", "Home")' method="get">
<input type="text" name="palabra">
<button type="submit"class="boton">Enviar Palabra</button>
</form>
<img src="/imagenes/SopaDeLetras.png" alt="Sopa de letras">
</section>