@{
    ViewData["Title"] = "Sala1";
}
<section class = "Sala1">
<h3>Encontrá la llave, está escondido en algún lugar de la habitación, no está a la vista</h3>
<a href='@Url.Action("Sala2", "Home")' class="botonLlave"> </a>
</section>