<section class = "Sala3">
<form Action='@Url.Action("Codigo", "Home")' method="get">
Arriesgar Código: <input type="number" name="num" maxlength="3">
<button type="submit"class="boton">Enviar Código</button>
</form>
</section>