@{
    ViewData["Tutorial"] = "Tutorial";
}

<section class = "Tutorial">
<a href='@Url.Action("Index", "Home")' class="botonTutorial"> Tocá acá para volver a la home</a>
<h2> En esta sala de escape tendrás que escapar de nuestro Hospital Abandonado, y para hacerlo tendrás que ir superando todos los desafíos que te encuentres en el camino. Cada sala tendrá especificado lo que deberás hacer para salir de esta. </h2>
</section>