*{
  background-color: black;
}
html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}




footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.boton, .boton1 {
  display: inline-block;
  background-color: #990000;
  color: white; 
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 1%;
}

section.Index{
  background-image: url(/imagenes/FondoIndex.jpg);
  height: 1000px;
  width: 100%;
}
.Index h2 {
  padding-top: 5%;
  text-align: center;
  color: red;
}
.Index .boton1{
  margin-left: 38%;
}
.Index .boton2{
  margin-left: 7%;
}
.Sala1{
  background-image: url(/imagenes/FondoSala1.png);
  height: 1000px;
  width: 100%;
}
.Sala2{
  background-image: url(/imagenes/FondoSala2.png);
  height: 1000px;
  width: auto 100%;
}
.Sala3{
  background-image: url(/imagenes/FondoSala3.png);
}
.Sala4{
  background-image: url(/imagenes/FondoSala4.png);
}
.Tutorial{
  background-image: url(/imagenes/FondoTutorial.jfif);
}
.Ganaste{
  background-image: url(/imagenes/Ganaste.jfif);
}
