
html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*{
  margin: 0;
  padding: 0;
}



footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.boton, .boton1, .botonTutorial {
  display: inline-block;
  background-color: #990000;
  color: white; 
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 1%;
}

section.Index{
  background-image: url(/imagenes/FondoIndex.jpg);
  height: 1000px;
  width: 100%;
}
.Index h2 {
  padding-top: 5%;
  text-align: center;
  color: red;
  text-decoration: underline;
  font-size: 35px;
}
.Index h4
{
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: red;
  font-size: 120%;
}
.Index .boton{
  margin-left: 38%;
}
.Index .boton1{
  margin-left: 7%;
}

.Sala1{
  background-image: url(/imagenes/habitacion.jfif);
  background-size: cover;
  height: 1000px;
  width: 100%;
}
.Sala1 h3, .Sala2 h3, .Sala3 h3
{
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  font-size: 200%;
  background-color: rgba(255, 0, 0, 0.4);
  text-align: center;
 border: 5px solid whitesmoke;
}
.Sala3 form
{margin-left: 42%;
margin-top: 5%;
}

 .botonLlave {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  font-size: 12px;
  margin-top: 1%;
  margin-left: 53.3%;
  margin-top: 26%;
 
 
}

.Sala2{
  background-image: url(/imagenes/Pasillo.png);
  background-size: cover;
  height: 1000px;
  width: 100%;
}
.botonLuz {
  display: inline-block;

  padding: 25px 25px;
  text-decoration: none;
  border: none;
  font-size: 12px;
  margin-top: 1%;
  margin-left: 58.5%;
  margin-top: 25%;
}

.Sala3{
  background-image: url(/imagenes/PasilloConLuz.jpg);
  height: 1000px;
  width:  100%;
  background-size: cover;
}
.Sala4{
  background-image: url(/imagenes/FondoSala4.png);
  height: 1000px;
  width:  100%;
}
.Tutorial{
  background-image: url(/imagenes/FondoTutorial.jfif);
  height: 1000px;
  width: 100%;
  background-position-x: right;

}
.Tutorial h2
{
 margin-top: 13%;
 margin-left: 25%;
 margin-right: 25%;
 padding: 1%;
  text-align: center;
  color: white;
  font-size: 200%;
  background-color: rgba(255, 0, 0, 0.4);
}
.Ganaste{
  background-image: url(/imagenes/Ganaste.jfif);
  height: 1000px;
  width: 100%;
}
.botonTutorial
{
  margin-top: 5%;
  margin-left: 43%;
  font-size: 20px;
  
}